@use 'reset';
@use 'mixins';
@use 'header';
@use 'hero';
@use 'features';
body {
  background: hsl(220, 10%, 6%);
  color: white;
  font-family: system-ui;
  //   font-size: 16px;
}
img {
  width: 2rem;
  border-radius: 0.5rem;
}

.dm-cta {
  background: white;
  color: black;
  padding: 0.8rem;
  border-radius: 2rem;
  display: inline-block;
}

.macros {
  padding: 4rem 0;
  &__container {
    @include mixins.container;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &__header {
    @include mixins.headers;
  }
  &__title {
    font-size: 2.8rem;
    padding-bottom: 1rem;
    font-weight: bold;
  }
  &__paragraph {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  &__cards {
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    @media (max-width: 990px) {
      width: 100%;
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding: 1.8rem;
    border-radius: 1rem;
    background: #1c1d1f;
    transition: all 0.4s;
    z-index: 99;
    &:hover {
      transform: translateY(-0.5rem);
      background: hsla(0, 0%, 100%, 0.09);
    }
  }
  &__card-icon {
    border-radius: 0.3rem;
    padding: 0.2rem;
  }
  &__card-title {
  }
  &__card-paragraph {
    color: #a2a2a2;
  }
  &__cta-title {
  }
  &__cta-video {
    display: flex;
    gap: 0.5rem;
    > div {
      border-bottom: 1px solid white;
    }
  }
}
